# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
SplitLaneTracker_Server/.vs
SplitLaneTracker_Server/bin
SplitLaneTracker_Server/obj
SplitLaneTracker_ClientTEST/obj
SplitLaneTracker_ClientTEST/.vs
SplitLaneTracker_ClientTEST/bin
